.containerInfoClient {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.containerInfoClient form{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}